django
djangorestframework
django-allauth
coreapi
django-rest-auth
djangorestframework-jwt
dj_database_url
psycopg2-binary
pytz
whitenoise==3.3.1
djangorestframework-jwt
gunicorn
packaging
rest-social-auth
django-rest-framework-social-oauth2
django-oauth-toolkit
django-cors-middleware
pyjwt
drf-yasg
django-rest-swagger